<form #f="ngForm" (ngSubmit)="onSubmit(f)">

    <div class="row">
        <div class="col-md-12">
            <div class="mt-3">
                <label for="nome" class="form-label" name="nome"
                [class.txt-error]="mostraCampoInvalido(nome)" >
                Nome
                </label>
                <input type="text" class="form-control" name="nome"
                [class.has-error]="mostraCampoInvalido(nome)"
                id="nome" placeholder="nome" [(ngModel)]="usuario.nome"
                required #nome="ngModel">
            </div>
            <div class="txt-error form-text" *ngIf="mostraCampoInvalido(nome)">
                {{usuarioAuxiliarMsg.nome}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="mt-3">
                <label for="email" class="form-label"
                [class.txt-error]="mostraCampoInvalido(email)">
               Email
                </label>
                <input type="email" class="form-control" name="email"
                [class.has-error]="mostraCampoInvalido(email)"
                id="email" placeholder="nome@email.com" [(ngModel)]="usuario.email"
                required #email="ngModel"
                pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
            </div>
            <div class="txt-error form-text" *ngIf="mostraCampoInvalido(email)">
                {{usuarioAuxiliarMsg.email}}
            </div>
        </div>
    </div>

    <div class="row">
        <!-- CAMPO CEP -->
        <div class="col-md-3">
            <div class="mt-3">
                <label for="cep" class="form-label"
                [class.txt-error]="mostraCampoInvalido(cep)">
                CEP
                </label>
                <input type="text" class="form-control" name="cep"
                [class.has-error]="mostraCampoInvalido(cep)"
                id="cep" placeholder="00000-000" ngModel
                required #cep="ngModel"
                pattern="\d{5}[-\s]?\d{3}">
            </div>
            <div class="txt-error form-text" *ngIf="mostraCampoInvalido(cep)">
                {{usuarioAuxiliarMsg.cep}}
            </div>
        </div>

        <!-- CAMPO NÚMERO -->
        <div class="col-md-3">
            <div class="mt-3">
                <label for="numero" class="form-label"
                [class.txt-error]="mostraCampoInvalido(numero)">
                Número
                </label>
                <input type="text" class="form-control" name="numero"
                [class.has-error]="mostraCampoInvalido(numero)"
                id="numero" placeholder="insira o número" ngModel
                required #numero="ngModel">
            </div>
            <div class="txt-error form-text" *ngIf="mostraCampoInvalido(numero)">
                {{usuarioAuxiliarMsg.numero}}
            </div>
        </div>

        <!-- CAMPO COMPLEMENTO -->
        <div class="col-md-6">
            <div class="mt-3">
                <label for="complemento" class="form-label">
                Complemento
                </label>
                <input type="text" class="form-control" name="complemento"
                id="complemento" placeholder="complemento não é obrigatório" ngModel
                #complemento="ngModel">
            </div>
        </div>
    </div>
    
    <!-- CAMPO RUA -->
    <div class="row">
        <div class="col-md-12">
            <div class="mt-3">
                <label for="rua" class="form-label" name="rua"
                [class.txt-error]="mostraCampoInvalido(rua)" >
                Rua
            </label>
                <input type="text" class="form-control" name="rua"
                [class.has-error]="mostraCampoInvalido(rua)"
                id="rua" ngModel
                required readonly #rua="ngModel">
            </div>
            <div class="txt-error form-text" *ngIf="mostraCampoInvalido(rua)">
                {{usuarioAuxiliarMsg.rua}}
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-5">
            <!-- CAMPO BAIRRO -->
            <div class="mt-3">
                <label for="bairro" class="form-label"
                [class.txt-error]="mostraCampoInvalido(bairro)">
                Bairro
                </label>
                <input type="text" class="form-control" name="bairro"
                [class.has-error]="mostraCampoInvalido(bairro)"
                id="bairro" ngModel
                required readonly #bairro="ngModel">
            </div>
            <div class="txt-error form-text" *ngIf="mostraCampoInvalido(bairro)">
                {{usuarioAuxiliarMsg.bairro}}
            </div>
        </div>
        
        <!-- CAMPO CIDADE -->
        <div class="col-md-5">
            <div class="mt-3">
                <label for="cidade" class="form-label"
                [class.txt-error]="mostraCampoInvalido(cidade)">
                Cidade
            </label>
                <input type="text" class="form-control" name="cidade"
                [class.has-error]="mostraCampoInvalido(cidade)"
                id="cidade" ngModel
                required readonly #cidade="ngModel">
            </div>
            <div class="txt-error form-text" *ngIf="mostraCampoInvalido(cidade)">
                {{usuarioAuxiliarMsg.cidade}}
            </div>
        </div>
        
        <!-- CAMPO ESTADO -->
        <div class="col-md-2">
            <div class="mt-3">
                <label for="estado" class="form-label"
                [class.txt-error]="!estado.valid && estado.touched">
                Estado
                </label>
                <input type="text" class="form-control" name="estado"
                [class.has-error]="!estado.valid && estado.touched"
                id="estado" ngModel
                required readonly #estado="ngModel">
            </div>
            <div class="txt-error form-text" *ngIf="!estado.valid && estado.touched">
                {{usuarioAuxiliarMsg.estado}}
            </div>
        </div>
    </div>

    <button type="submit" class="btn mt-3"
    [class.btn-secondary]="!f.valid"
    [class.btn-primary]="f.valid"
    [disabled]="!f.valid">
        Submit
    </button>
</form>

<app-form-debug [form]="f"></app-form-debug>